body {
    margin:0;	
    padding:0; 
    background-image:url("../images/menu/1200px-New_york_times_square-terabass.jpg");  
    text-align:center; 
}
#pag {
    width:1024px; 
    margin-top:10px; 
    margin:0 auto;  
}
#logo {
    width: 200px; 
    height: 180px; 
    float:left; 
    background:  url("../images/menu/fundo-verde_logo.jpg"); 
}
#banner {
    width: 824px; 
    height: 180px; 
    float:left; 
    background-image:url("../images/menu/fundo-verde.png") 
}
#titulo {
    width: 500px; 
    height: 180px; 
    float:left;  
}
#login {
    width: 324px; 
    height: 180px; 
    float:left;  
}
#menu {
    width: 200px; 
    height: 500px; 
    float:left; 
    background-image:url("../images/menu/fundo_menu200px.jpg") 
}
#conteudo {
    width: 824px; 
    height: 500px; 
    float:left; 
    background-image:url("../images/menu/fundo_centro.jpg") 
}
#rodape {
    width: 1024px; 
    height: 50px; 
    float:left; 
    background-image:url("../images/menu/fundo_rodape.jpg") 
}

/* 
    Formatação do Menu realizada através do Tutorial do site do Maujor.
    link: http://maujor.com/tutorial/menurollimg.php#content
*/
#menu ul {
    list-style-type: none; /*remove o marcador*/
    margin: 5px; /*remove o recuo IE e Opera*/
    padding: 5px; /*remove o recuo Mozilla e NN*/
    font-size:12px; font-family:verdana,arial, helvetica, sans-serif;
}
#menu ul li {height:20px;}

#menu a {
    display: block;
    padding: 1px 0 1px 25px;
    border: 1px solid #000000;
    width: 180px;
    background-color: #339966;
    color: #0000ff;
    text-decoration: none;
    background-image: url(../images/menu/fundo_1.jpg);
    width:153px;
}
#menu a:hover {
    border: 1px solid #000000;
    background-color:#FFFF99;
    background-image: url(..https://embedgooglemaps.com/pt/);
    color:#000000;
}
#menu a:active {
    border: 1px solid #000000;
    background-color:#FFFF99;
    background-image: url(../images/menu/fundo_3.jpg);
    color:#000000;
}
#gmap_canvas img{max-width:none!important;background:none!important}
